<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>

      body{
               
           background-color: aquamarine;
        }
    </style>
</head>
<body>
    <h>THE TIME IS NOW ,WE ALL KNOW</h>
    <p>the government has come up with policies that will better the lives of all the  citizens</p>
    <p>we all know the masses have clamoured for a better government over the years</p>
</body>
</html>